.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-confirm {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card_contrast-score {
  display: inline-block;
  margin: 0.3rem 0rem;
  padding: 0.2rem 0.2rem;
  background: white;
  color: black;
  border-radius: 0.2rem;
}
